
# Large local test files
poly_micro_spectrum/input/*.phsp
poly_micro_spectrum/output/proton_matches_*.csv
poly_micro_spectrum/output/*.jpg
poly_micro_spectrum/output/poly_spectrum*.csv
poly_micro_spectrum/output/energy_fluence*.csv

# Local test inputs/outputs
input/*.phsp
output/proton_matches_*.csv
output/poly_spectrum*.csv
output/energy_fluence*.csv
output/*.jpg
build/

# Local test inputs/outputs
input/*.phsp
output/proton_matches_*.csv
output/poly_spectrum*.csv
output/energy_fluence*.csv
output/*.jpg
build/
